:root {
	--black: #000;
	--white: #fff;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

canvas {
	display: inline-block;
	height: 100dvh;
	vertical-align: top;
	width: 100%;
}
